/* .recipe{
    position:sticky;
    align-items:center;
    top:0;
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5))center center;
    
}
.section-recipe-items{
    overflow: visible;
    background-color: #f9f9f9
}
.recipe-content h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: rgb(82, 30, 30);
} */
