.bg-color {
	background-color: rgb(143, 131, 131);
}

.text-color {
	color: rgb(95, 13, 26);
}



footer a {
	color: #1d027e80;
	line-height: 2;
}

footer a:hover {
	color: rgba(10, 26, 175, 0.425);
}
.tum{
	margin-bottom: 0%;
}
.icons{
	padding-left: 30rem;
}
.container{
	padding-top: 2rem;
}